body
{
    background-image: url(computador-pinkcoracoes.png);
    background-size: cover;

}

button {
    color: black;
    background-color: rgb(226, 19, 140);
    border-radius: 10px;
}

canvas {
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 12px 11px 21px 9px rgba(0,0,0,0.58);
-webkit-box-shadow: 12px 11px 21px 9px rgba(0,0,0,0.58);
-moz-box-shadow: 12px 11px 21px 9px rgba(0,0,0,0.58);
}